.door-status {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
.button-container {
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 360px;
  }
  
  .close-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
  }
  
  .open-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
  }
  
  /* Media query for iPhone */
  @media only screen and (max-width: 767px) {
    .close-button,
    .open-button {
      font-size: 14px;
      padding: 8px;
    }
  }
  
  /* Media query for iPad */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .close-button,
    .open-button {
      font-size: 16px;
      padding: 12px;
    }
  }
  